body{
    display: flex;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(249, 231, 159);
}

h2 {
    color: blue;

}

legend{
    color: blue;
}

label{
    font-weight: bold;
}

input, textarea, select{
    width: 95%;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 4px;
}